@import url("../../vendor/fonts/Inter/inter.css");

.App {
  width: 100%;
  max-width: 1140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .App {
    max-width: 980px;
  }
}
@media screen and (max-width: 1010px) {
  .App {
    height: 100%;
    max-width: 800px;
  }
}
@media screen and (max-width: 830px) {
  .App {
    max-width: 700px;
  }
}
@media screen and (max-width: 740px) {
  .App {
    max-width: 540px;
  }
}
@media screen and (max-width: 580px) {
  .App {
    max-width: 420px;
  }
}
@media screen and (max-width: 470px) {
  .App {
    max-width: 300px;
  }
}
